@{
	ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1> 

<p>Nós da [nome da empresa] respeitamos e valorizamos a privacidade dos nossos usuários. Por isso, adotamos as medidas necessárias para garantir a segurança e a confidencialidade das informações pessoais coletadas.</p>
<h2>Informações coletadas</h2>
<p>Para [descrever a finalidade da coleta de informações], podemos coletar as seguintes informações pessoais:</p>
<ul>
	<li>Nome completo</li>
	<li>Endereço de e-mail</li>
	<li>Endereço físico</li>
	<li>Número de telefone</li>
	<li>Data de nascimento</li>
	<li>Informações de cartão de crédito</li>
</ul>
<p>As informações coletadas são utilizadas apenas para a finalidade específica para a qual foram coletadas e não serão compartilhadas com terceiros, exceto em casos previstos por lei ou mediante autorização expressa do usuário.</p>
<h2>Uso de cookies</h2>
<p>Utilizamos cookies e outras tecnologias de rastreamento para [descrever a finalidade da coleta de dados por meio de cookies].</p>
<p>Os cookies podem ser desativados nas configurações do navegador, mas isso pode afetar o funcionamento de alguns recursos do nosso site.</p>
<h2>Alterações na política de privacidade</h2>
<p>Reservamo-nos o direito de alterar esta política de privacidade a qualquer momento, mediante publicação de uma nova versão em nosso site.</p>

